<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <!-- <link rel="stylesheet" href="/style.css"> -->
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <main>
      Notification delay: 
      <input id="notification-delay" type="number" value="5"/> seconds
      <br/><br/>
      <button id="js-trigger-push-msg">Trigger Push Message</button>
    </main>
  </body>
</html>